body {
  margin-left: 170px;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 600px;
  font-family: "Neuton";
  font-size: 1.2em;
  position: relative;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}


h2 {
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 1.1em;
  margin-top: 1.6em;
  color: rgba(0,0,0,.75);
}

h3 {
  font-weight: normal;
}

h3 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: .12em;
}

.email-suffix {
  color: rgba(0,0,0,.27);
  font-size: .8em;
  font-weight: 300;
}


.sidebar-div {
  height: 20px;
}

.logo {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -6px;
  left: -62px;
  rotate: 180deg;
  opacity: .8;
}

.entry {
  position: relative;
  line-height: 1.4em;
  padding-bottom: 17px;
}

.entry .label span {
  font-size: .9em;
  color: rgba(0,0,0,.6);
}

.label {
  margin: 0;
  width: 200px;
  position: absolute;
  left: -220px;
  top: -1.5px;
  text-align: right;
}

.entry p {
  margin-top: 0;
  margin-bottom: 0;
}

.highlight {
  font-weight: bold;
}

em {
  color: rgba(0,0,0,.6);
}

.blub {
  line-height: 1.3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer {
  margin-top: 1em;
  font-size: 2em;
  letter-spacing: .03em;
}

.footer em {
    color: rgba(0,0,0,.3) !important;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  padding-bottom: .6em;
}

.right-panel {
  position: absolute;
  top: 76px;
  left: 750px;
}

h4 {
  color: #444;
  font-size: .8em;
  margin-bottom: .4em;
  text-transform: uppercase;
  letter-spacing: .07em;
}

.right-panel ul {
  margin-top: 1.5em;
}

.right-panel li p {
  color: rgba(0,0,0,.6);
  font-size: .9em;
  margin-top: .2em;
}

a {
  color: #336699;
}

.printable {
  margin-top: 12em;
  color: rgba(0,0,0,.3);
  font-style: italic;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 400px) {
  html {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    width: calc(100% - 2em);
    margin: 1em;
    overflow-x: hidden;
  }

  .mobile-only {
    display: block;
  }

  .right-panel {
    position: relative;
    top: 0;
    left: 0;
  }

  .label {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    margin-bottom: .5em;
    width: 100%;
  }

  .label h3 {
    display: inline;
    padding-right: .6em;
  }

  .entry {
    padding-bottom: 23px;
  }

  .printable {
    margin: 0;
    padding: 3em;
    text-align: center;
  }
}
