@page
{
    size:  auto;
    margin-top: 7mm;
    margin-bottom: 7mm;
    margin-left: 15mm;
    margin-right: 25mm;
}

body {
  margin-left: 170px;
}

.entry {

}

.right-panel {
  display: none;
}

.left-panel {
  display: none;
}
